
# Server configuration
PORT=
NODE_ENV=
# LOG_LEVEL=
EFFECT_NO_VERSION_WARNING=

DATABASE_URL=
# DATABASE_URL=

# Arcjet configuration
ARCJET_KEY=

# JWT configuration
JWT_SECRET=
JWT_EXPIRES_IN=

REFRESH_JWT_SECRET=
REFRESH_JWT_EXPIRES_IN=

# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Nodemailer configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

# Cookie configuration
COOKIE_SAME_SITE=

# Redis configuration
# REDIS_URL=
# REDIS_HOST=
# REDIS_PORT=
# REDIS_PASSWORD=

REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Frontend URL for CORS
FRONTEND_URL=

# OpenRouter API key
OPEN_ROUTER_APIKEY=

# UploadThing configuration
UPLOADTHING_TOKEN=

